/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

/* ---------- Markdown Fixes ---------- */

.prose pre {
  background: #0f172a;
  color: #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
}

.prose code {
  font-size: 0.875rem;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose th,
.prose td {
  border: 1px solid #e5e7eb;
  padding: 0.5rem;
  text-align: left;
}

.prose h1{
  font-size: 2em;
  font-weight: bolder;
  line-height: normal;
  padding: 10px;
}
.prose h2{
  font-size: 1.5em;
  font-weight: bold;
  scroll-margin-top: 100px;
}
.prose h3 {
  font-size: 1.17em;
  font-weight: bold;
  scroll-margin-top: 100px;
}

/* ---------- Global ---------- */

:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --accent: #3b82f6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
